table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Helvetica';
    font-size: large;
  }

td {
    width: 30%;
}


thead {
  background-color:lightskyblue;
  font-size: larger;
}