<div class="form-group">
    <br><br>
     <div style="width: 98%; ">
         <div style="padding: 10px;">
                <table *ngFor="let reservation of reservations.reverse(); let i = index" style="padding:5px; width: 100%;">
                    <td style="padding: 5px;">
                        <h3> Reservation ID: {{reservation.id}} </h3>
                        <h3> TotalPrice: {{reservation.totalPrice}} </h3>

                        <div *ngIf="show[i]" style="margin-top: 15px; margin-left: 30px;">
                            <h2> Tickets : </h2>

                            <div class="wrapper" style="gap:5px">
                                <div class="box" *ngFor="let ticket of reservation.tickets" style="border: 1px; box-sizing: border-box;">
                                    <table style="border-top: 5px solid gray;">
                                        <tr>
                                            <td> Title : </td>
                                            <td> {{ticket.movieTitle}} </td>
                                        </tr>
                                        <tr>
                                            <td> Date :</td>
                                            <td> {{ticket.projectionDate}}</td>
                                        </tr>
                                        <tr>
                                            <td> Term :</td>
                                            <td> {{ticket.projectionTerm}}</td>
                                        </tr>
                                        <tr>
                                            <td> Movie ID :</td>
                                            <td> {{ticket.movieId}}</td>
                                        </tr>
                                        <tr>
                                            <td> Hall name :</td>
                                            <td> {{ticket.theaterHallName}}</td>
                                        </tr>
                                        <tr>
                                            <td> Price :</td>
                                            <td> {{ticket.price}}</td>
                                        </tr>
                                        <tr>
                                            <td> Number of tickets :</td>
                                            <td> {{ticket.numberOfTickets}}</td>
                                        </tr>
                                        
                                    </table>

                                    <!--      <td style="display: inline">
                                                <h6> Date : {{ticket.projectionDate}} </h6> 
                                                <h6> Term : {{ticket.projectionTerm}} </h6> 
                                                <h6> Movie ID : {{ticket.movieId}} </h6> 
                                                <h6> Hall name : {{ticket.theaterHallName}} </h6>      
                                                <h6> Price : {{ticket.price}} </h6>    
                                                <h6> Number of tickets : {{ticket.numberOfTickets}} </h6>
                                    </td>
    --> 
                                </div>
                            </div>
                        </div>
                    </td>
                    
                    <td style="padding: 5px;"><div class="modal-footer">
                        <button class="btn btn-outline-dark" (click)="show[i] = !show[i]">{{show[i] ? 'See less' : 'See more'}}</button>
                    </div></td>
                </table>
    </div>
     </div>
 </div>


