<div>
    <nav class="navbar navbar-expand">
        <div class="navbar-brand">
            <h3 style="color: grey; margin-top:10px; margin-left: 10px;"><b><i>Coupons</i></b></h3>
        </div>
        
           <div class="pos" >
                <app-coupon-form style="padding-right: 25px;"></app-coupon-form>
                <app-coupon-update-form style="padding-right: 25px;"></app-coupon-update-form>
                <app-coupon-delete-form style="padding-right: 25px;"></app-coupon-delete-form>
            </div>
    </nav>
    <hr>
</div>

<app-coupon-list></app-coupon-list>