<div style="background-color: rgb(50, 159, 209)">
    <nav class="navbar navbar-expand navbar-dark" style="background-color: rgb(50, 159, 209)">
        <div class="navbar-brand mx-auto" style="color:rgb(152, 207, 232);">
            <h3><b><i><a (click)="mainPage()">Movie Tickets Booking</a></i></b></h3>
        </div>
            
        <div class="form-group" *ngIf="isMainPage()" style="margin-right:5px">
            <input 
            id="query" 
            type="text" 
            class="form-control" 
            placeholder="{{ searchCriteriaPlaceholderText}}"
            size="20"
            style="background-color: white;color: rgb(50, 159, 209);"
            (keyup.enter)="getMovie()">
            <a class="nav-link" (click)="advancedSearch()" style="font-size: 10px; color:rgb(152, 207, 232); float: right;">Advanced search</a>
        </div>

       
        <select *ngIf="isMainPage()" name="criteria" id="criteria" class="form-select"
                [(ngModel)]="searchCriteria" (change)="changeSearchCriteriaPlaceholderText()" [value] = "searchCriteria">
            <option value="id">Id</option>
            <option value="title">Title</option>
            <option value="year">Year</option>
            <option value="runtime">Runtime</option>
            <option value="genres">Genres</option>
            <option value="director">Director</option>
            <option value="mainActor">Main Actor</option>
            <option value="imdbRating">IMDb Rating</option>
            <option value="imdbVotes">IMDb Votes</option>
        </select>

        <div style="text-align: center;  margin-right: 55px;"  *ngIf="!appState?.isEmpty()">
            <span (click)="profile()" type="button"  style="color:rgb(152, 207, 232); ">
                {{ appState?.username }}
            </span>
        </div>
    </nav>
</div>