#imagesDIV {
    height: auto;
    margin-top: 10px;
 }
 
 #imagesDIV .item>img {
   display: inline;
   margin: 20px 15px 5px 20px;
 }
 
 .item>img {
    width: 200px;
    height: 300px;
 }

 div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption {
    display: block;
    margin-left: 20px;
    margin-right: 10px;
    width: 200px;
}

.item>img:hover {
    cursor: pointer;
}

p:hover {
    cursor: pointer;
}