<br>

<h4> Update coupon</h4>

<form [formGroup]="couponForm" (ngSubmit)="onCouponUpdate()" class="form">
    <div class="form-group">
        <label class="form-label">id</label>
        <input type="text" formControlName="id" class="form-control">
    </div>

    <div>
        <label class="form-label">movie name</label>
        <input type="string" formControlName="movieName" class="form-control">
    </div>

    <div>
        <label class="form-label">amount</label>
        <input type="number" formControlName="amount" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">create new coupon</button>
</form>