<div>
    <nav class="navbar navbar-expand">
        <div class="navbar-brand">
            <h3 style="color: grey; margin-top:10px; margin-left: 10px;"><b><i>Reservations</i></b></h3>
        </div>

        <div class="pos">
            <!--Delete button--> 
            <button 
            *ngIf="reservationsExists"
            class="btn" 
            style="background-color: rgba(161, 0, 0, 0.862); color: aliceblue; margin-right: 10px;"
            (click)="open(deleteModal)">
                Delete All
            </button>
            <ng-template #deleteModal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Confirm action</h4>            
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete all reservations?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-dark" (click)="deleteAll()">Yes</button>
                    <button class="btn btn-outline-dark" (click)="close()">No</button>
                </div>
            </ng-template>
            
            <!--Checkout button--> 
            <button *ngIf="reservationsExists" class="btn btn-primary" 
            style="margin-left: 10px;" 
            (click)="open(chekoutModal)">
                Checkout
            </button>

            <ng-template #chekoutModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Chekout</h4>            
                <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to confirm reservations?
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-dark" (click)="onCheckout()">Confirm reservations</button>
            </div>
            </ng-template>
        </div>
    </nav>
</div>

<app-reservations-list *ngIf="reservationsExists; else text"></app-reservations-list>
<ng-template #text>
    <hr>
    <div style="font-size: 20px; margin-left: 20px;">Reservations are empty</div>
</ng-template>
