.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin-right: 5px;
    padding: 5px;
  }

  .movie-details {
    width: 600px;
  }
  
  @media screen and (max-width: 1300px) {
    .flex-container {
      display: inline;
    } 
    .movie-details {
      width: 465px;
    }
  }

  td {
    padding-right: 20px;
    padding-bottom: 10px;
  }

.flex-column {
  display: flex;
  flex-direction: column;
}

span.error {
  font-size: 11px;
  color: red;
}

span.msg {
  font-size: 11px;
  color: blue;
}
